<form (ngSubmit)="submitForm()" #userForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userData.name" required>
    </div>
    
    <div class="form-group">
      <label for="country">País</label>
      <input type="text" class="form-control" id="country" name="country" [(ngModel)]="userData.country" required>
    </div>

    <div class="form-group">
        <label for="country">Foto</label>
        <input type="file" class="form-control" id="country" name="country" [(ngModel)]="userData.photo" required>
      </div>
  
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="showAdditionalFields" name="showAdditionalFields" [(ngModel)]="showAdditionalFields">
      <label class="form-check-label" for="showAdditionalFields">Quiero cambiar mi contraseña</label>
    </div>
  
    <div *ngIf="showAdditionalFields">
      <div class="form-group">
        <label for="field1">Contraseña actual</label>
        <input type="text" class="form-control" id="field1" name="field1" [(ngModel)]="userData.field1">
      </div>
      
      <div class="form-group">
        <label for="field2">Contraseña nueva</label>
        <input type="text" class="form-control" id="field2" name="field2" [(ngModel)]="userData.field2">
      </div>
      
      <div class="form-group">
        <label for="field3">Repita la nueva contraseña</label>
        <input type="text" class="form-control" id="field3" name="field3" [(ngModel)]="userData.field3">
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>