<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <button routerLink="/contactos/new" class="btn btn-primary btn-lg btn-square btn-full">Crear nuevo 
                contacto </button>
        </div>
        <div class="col-md-4">
            <button routerLink="/contactos/list" class="btn btn-success btn-lg btn-square btn-full">Ver todos los
                contacto</button>
        </div>
        <div class="col-md-4">
            <button routerLink="/contactos/edit" class="btn btn-warning btn-lg btn-square btn-full">Editar contactos
                existentes</button>
        </div>
    </div>
</div>
<br>