<aside id="menubar" class="menubar light" style="padding-top: 35px;">
    <div class="app-user">
      <div class="media">
        <div class="media-left">
          <div class="avatar avatar-md avatar-circle">
            <a (click)="mostrarOpcionCambiarFoto()">
              <img class="img-responsive" [src]="foto()" alt="avatar" />
            </a>
            <div *ngIf="mostrarOpcionFoto">
              <ul class="app-menu">
          
                <li>
                  <!-- zmdi-search -->
                  <a>
                    <i class="menu-icon zmdi bi bi-camera zmdi-hc-lg"></i>
                    <span class="menu-text">Cambiar foto</span>
                  </a>
                </li>
      
              </ul>
            </div>
          </div><!-- .avatar -->
        </div>
        <div class="media-body">
          <div class="foldable">
        <h5><a href="javascript:void(0)" class="username" >{{nombre()}}</a></h5>
            <ul>
              <li class="dropdown">
                <a href="#" routerLink="/auth/edit" class="dropdown-toggle usertitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <small>Web Developer</small>
                  <span class="caret"></span>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- .media-body -->
      </div><!-- .media -->
    </div><!-- .app-user -->
  
    <div class="menubar-scroll">
      <div class="menubar-scroll-inner">
        <ul class="app-menu">
          
          <li *ngFor="let value of menuItems" routerLinkActive="active">
            <!-- zmdi-search -->
            <a [routerLink]="value.route">
              <i class="menu-icon zmdi {{value.icon}} zmdi-hc-lg"></i>
              <span class="menu-text">{{value.name}}</span>
            </a>
          </li>

        </ul><!-- .app-menu -->
      </div><!-- .menubar-scroll-inner -->
    </div><!-- .menubar-scroll -->
  </aside>
  <script src="../../../../assets/js/app.js"></script>