
<div class="row">
    <!-- DOM dataTable -->
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header">
                <h4 class="widget-title">Líneas disponibles</h4>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre línea</th>
                                <th>URL</th>
                                <th>Imagen</th>
                                <th>Activo</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{item.nombre}}</td>
                                <td>{{item.url}}</td>
                                <td>{{item.imagen}}</td>
                                <td>{{item.activo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
</div>