<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <button routerLink="/fuentes/new" class="btn btn-primary btn-lg btn-square btn-full">Crear nueva
                fuente</button>
        </div>
        <div class="col-md-4">
            <button routerLink="/fuentes/list" class="btn btn-success btn-lg btn-square btn-full">Ver todas las
                fuentes</button>
        </div>
        <div class="col-md-4">
            <button routerLink="/fuentes/edit" class="btn btn-warning btn-lg btn-square btn-full">Editar fuentes
                existentes</button>
        </div>
    </div>
</div>
<br>